<!DOCTYPE html>
<html>
    <head>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
<meta charset="UTF-8">

    </head>
    <body>
        <p>
            Hartz4-Sanktionen Regional
        </p>
        
        <div>
            <canvas id="myChart"></canvas>
          </div>
          <form method="POST">
            <input id="text" input name="text" value={{textname}}>
            <input type="submit" input>
            <textarea id="story"   name="story" rows="3" cols="110">{{data}}</textarea>
            <textarea id="bory"   name="bory" rows="3" cols="110">{{bata}}</textarea>
          </form>
         <script src = "../static/js/index.js">
           console.log("fun");
         </script>
    </body>
</html>
